/**
 * _grid-settings.scss
 */

/* ==========================================================================
   Imports
   ========================================================================== */

@import "neat/neat-helpers";

/* ==========================================================================
   Variables
   ========================================================================== */

$column: 37px;
$gutter: 16px;
$grid-columns: 12;
$base-font-unit: 18; // This should match the desired $base-font-size in `_variables.scss`
// $main-column + ($side-margins * 2) = 960
$main-column: 620;
$side-margins: 170;
// Add max-width to `container` in ems - equates to 600px / base font-size of 18px
$max-width: em($main-column, $base-font-unit);

/* ==========================================================================
   Breakpoints
   ========================================================================== */

$small-screen: new-breakpoint(min-width em(540) 2);
$medium-screen: new-breakpoint(min-width em(760) 4);
$large-screen: new-breakpoint(min-width em(920) 8);

/* min/max */

$small-screen-min: em(540);
$small-screen-max: em(760);

$medium-screen-min: em(760);
$medium-screen-max: em(920);

$large-screen-min: em(920);
$large-screen-max: em(1280);