/**
 * _grid-settings.scss
 */

/* ==========================================================================
   Imports
   ========================================================================== */

@import "neat/neat-helpers";

/* ==========================================================================
   Variables
   ========================================================================== */

$base-font-unit: 18; // This should match the desired $base-font-size in `_variables.scss`

$column: 30px;
$column-unitless: strip-unit($column);
$gutter: 20px;
$gutter-unitless: strip-unit($gutter);

$grid-columns: 12;

$max-width-unitless: (($column-unitless * 12) + ($gutter-unitless * 11) + ($gutter-unitless * 2)); // ((30*12)+(20*11)+(20*2)) = 620
$max-width: em($max-width-unitless, $base-font-unit); // Adds a max-width to `.container` in ems

/* ==========================================================================
   Breakpoints
   ========================================================================== */

/* min/max */

// Small screens
$small-screen-min: em(480);
$small-screen-max: em(568);

// Medium screens
$medium-screen-min: em(569);
$medium-screen-max: em(959);

// Large screens
$large-screen-min: em(961);

/* Bourbon Neat media contexts: http://neat.bourbon.io/docs/#new-breakpoint  */

$small-screen: new-breakpoint(min-width em(480) 2);
$medium-screen: new-breakpoint(min-width em(569) 4);
$large-screen: new-breakpoint(min-width em(961) 8);