/**
 * _footer.scss
 */

/* ==========================================================================
   Default styling
   ========================================================================== */

.footer {
	padding: $base-line-height;
	margin-top: $base-line-height * 3;
	background-color: $dark-gray;
	@extend %text-align--center;
	color: $white;
}