/**
 * _header.scss
 */

/* ==========================================================================
   Default styling
   ========================================================================== */

.masthead {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 10000; // Place above off-canvas elements
	display: block;
	width: 100%;
	padding: $base-line-height;
	background-color: $dark-gray-transparent;
	@extend %text-align--center;
}

/* ==========================================================================
   Typography
   ========================================================================== */

.masthead {
	h1, h2, h3, h4, h5, h6, p {
		padding: 0 30px 0 0;
		margin: 0;
		color: $white;
		font-size: $base-font-size;
		text-align: right;

		.tagline { display: none; }

		/* Media queries */

		@include media($medium-screen) { // Medium screen and up
			padding: 0 90px;
			text-align: center;
			.tagline {
				@include inline-block;
				padding-left: ($base-line-height * 0.5);
			}
		}
	}
}

/* ==========================================================================
   Logo
   ========================================================================== */

.logo {
	@include hide-text;
	position: absolute;
	top: 20px;
	display: block;
	width: 64px;
	height: 50px;
	margin: 0to;
	background: transparent url("../images/gpmd-new-logo.svg") no-repeat top left;
	background-size: 100%;
}

/* PNG fallback */

.no-svg {
	.logo {
		background: transparent url("../images/gpmd-new-logo.png") no-repeat top left;
		background-size: 100%;
	}
}

/* ==========================================================================
   Menu button
   ========================================================================== */

.menu-btn {
	position: absolute;
	top: 30px;
	right: 20px;
	display: block;
	color: $white;
	font-size: 1.5em;
	cursor: pointer;
	cursor: hand;
}