/**
 * _images.scss
 */

/* ==========================================================================
   Images
   ========================================================================== */

/* Responsive images */

img {
    margin: 0;
    max-width: 100%;
}

/* figure and figcaption */

figure {
	padding: 0;
	margin: ($base-font-size * 1.5) 0;
}

figcaption,
.caption {
	font-style: italic;
	text-align: center;
	color: lighten($base-font-color, 35);
	padding: 0 $gutter;
}

/* ==========================================================================
   Outsets
   ========================================================================== */

/* Variables */

//$side-margins: 190; // Based on a desired image width of 960px and an actual central column width of 580px
$side-margins: ((960 - (($column-unitless * 12) + ($gutter-unitless * 11))) / 2); // (960 - (30*12)+(20*11)) / 2) = 190

// Defaults
.outset--right,
.outset--left {
	position: relative;
	// Start off with no outsets
	margin-right: 0;
	margin-left: 0;
}

.outset--center {
	position: relative;
	// Outset
	margin-right: -$gutter;
	margin-left: -$gutter;
}

// Animate margins
.outset--right,
.outset--left,
.outset--center {
	@include transition(margin-right 0.15s linear);
	@include transition(margin-left 0.15s linear);
}

/* Media queries */

// Add outsets to medium screens and bigger
@include media($medium-screen) { // Medium screen and up

	// Right
	.outset--right {
		margin-right: -(em($side-margins, $base-font-unit));
		margin-left: 0;
	}

	.outset--right {
		figcaption {
			margin-right: em($side-margins, $base-font-unit);
			margin-left: 0;
		}
	}

	// Center
	.outset--center {
		margin-right: -(em($side-margins, $base-font-unit));
		margin-left: -(em($side-margins, $base-font-unit));
	}

	.outset--center {
		figcaption {
			margin-right: em($side-margins, $base-font-unit);
			margin-left: em($side-margins, $base-font-unit);
		}
	}

	// Left
	.outset--left {
		margin-right: 0;
		margin-left: -(em($side-margins, $base-font-unit));
	}

	.outset--left {
		figcaption {
			margin-right: 0;
			margin-left: em($side-margins, $base-font-unit);
		}
	}

}