/**
 * _scaffolding.scss
 */

/* ==========================================================================
   Global resets and fixes
   ========================================================================== */

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* iOS Helpers */

html, body {
    // overflow-x: hidden; // prevents horizontal scroll bars
    // -webkit-tap-highlight-color: rgba(0,0,0,0); // disable webkit tap highlight
    // height: 100%; // fixes focus scrolling in Safari (OS X)
    // -webkit-overflow-scrolling: touch;
}

/* ==========================================================================
   Layout
   ========================================================================== */

.container {
    @include outer-container;
}

.content {
    padding: 160px 20px 0;
}