/**
 * _toc.scss
 */

/* ==========================================================================
   Table of Contents (homepage)
   ========================================================================== */

.toc {
	ul {
		list-style-type: none;
		padding-left: 0;
		margin-top: 0;
		margin-bottom: ($base-line-height * 0.5);

		li { line-height: 1.5em; }
	}
}