/**
 * _typography.scss
 */

/* ==========================================================================
   Body defaults
   ========================================================================== */

body {
    color: $base-font-color;
    font-family: $base-font-family;
    font-size: $base-font-size;
    -webkit-font-smoothing: antialiased;
    line-height: $base-line-height;
}

/* ==========================================================================
   Headings
   ========================================================================== */

h1, h2, h3, h4, h5, h6 {
    font-family: $header-font-family;
    line-height: 1.25em;
    font-weight: $bold-font-weight;
    font-style: $bold-font-style;
    @extend %text-transform--uppercase;
    letter-spacing: -0.025em;
    margin: 0 0 ($base-font-size * 0.5);
    text-rendering: optimizeLegibility; // Fix the character spacing for headings
}

h1 {
    //font-size: $base-font-size * 2.25; // 16 * 2.25 = 36px
    font-size: $base-font-size * 2;
}

h2 {
    //font-size: $base-font-size * 2; // 16 * 2 = 32px
    font-size: $base-font-size * 1.75;
}

h3 {
    //font-size: $base-font-size * 1.75; // 16 * 1.75 = 28px
    font-size: $base-font-size * 1.5;
}

h4 {
    //font-size: $base-font-size * 1.5; // 16 * 1.5 = 24px
    font-size: $base-font-size * 1.25;
}

h5 {
    //font-size: $base-font-size * 1.25; // 16 * 1.25 = 20px
    font-size: $base-font-size * 1.125;
}

h6 {
    font-size: $base-font-size;
}

/* ==========================================================================
   Body copy
   ========================================================================== */

p {
    margin: 0 0 ($base-line-height * 0.5);
}

a {
    color: $base-link-color;
    text-decoration: none;
    @include transition(background-color 0.15s linear);
    //@include transition(color 0.15s linear);

    &:hover {
        background-color: rgba($base-link-color, 0.25);
        color: $hover-link-color;
    }

    &:active, &:focus {
        color: $hover-link-color;
        outline: none;
    }
}

hr {
    border-bottom: 1px solid $base-border-color;
    border-left: none;
    border-right: none;
    border-top: none;
    margin: $base-line-height 0;
}

img {
    margin: 0;
    max-width: 100%;
}

abbr, acronym {
    border-bottom: 1px dotted $base-border-color;
    cursor: help;
}

address {
    display: block;
    margin: 0 0 ($base-line-height / 2);
}

hgroup {
    margin-bottom: $base-line-height / 2;
}

del {
    color: lighten($base-font-color, 15);
}

blockquote {
    border-left: 6px solid $primary-color;
    margin: $base-line-height 0;
    padding-left: ($base-line-height * 0.5);
    color: lighten($base-font-color, 25);
    font-size: $base-font-size * 1.5; // 16 * 1.5 = 24px
    font-style: italic;
    line-height: 1.25em;
    letter-spacing: -0.035em;
}

cite {
    color: lighten($base-font-color, 25);
    font-style: italic;

    &:before {
        content: '\2014 \00A0';
    }
}

/* ==========================================================================
   Code
   ========================================================================== */

/**
 * Most code styling can be found in `_pygments-[theme].min.scss`
 */

.highlight {
    padding: ($base-line-height * 0.25) $base-line-height;
    border-radius: $base-border-radius;
    margin-bottom: $base-line-height;
    background-color: $dark-gray !important;
}